@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700&family=Nunito:wght@300;500&family=Rancho&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* basic font style */
body {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
}

h1 {
    @apply font-extrabold
}

p {
    @apply font-extralight
}

.custom-blur {
    background: rgba(255, 255, 255, 0.57);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.6px);
    -webkit-backdrop-filter: blur(9.6px);
}

button:active {
    position: relative;
    top: 3px;
}

.text-pr {
    color: #3de09b;
}

.bg-pr {
    background-color: #eef9f8;
}

input:focus {
    border: 2px solid #3de09b;
    outline: #3de09b;
}

select:focus {
    border: 2px solid #3de09b;
    outline: #3de09b;
}

/* background-color: #3de09b;
background-color: #00c4ee
body: #ebfbfa
font-color : #0d4038 */


section {

    margin-top: 100px;
}