@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700&family=Nunito:wght@300;500&family=Rancho&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* basic font style */
body {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
}

h1 {
    color: #0d4038;
    @apply font-extrabold
}

p {
    color: #041513;
    @apply font-extralight
}

button {
    color: #ebfbfa;
}

.text-pr{
    color: #3de09b;
}

/* background-color: #3de09b;
background-color: #00c4ee
body: #ebfbfa
font-color : #0d4038 */